@font-face {
    font-family: "Vazir";
    font-weight: normal;
    src: url(./font/Vazir-Medium.woff2);
}

@font-face {
    font-family: "Vazir";
    font-weight: bold;
    src: url(./font/Vazir-Bold.woff2);
}

@font-face {
    font-family: "Vazir";
    font-weight: 300;
    src: url(./font/Vazir-Light.woff2);
}

@font-face {
    font-family: "Vazir";
    font-weight: 200;
    src: url(./font/Vazir-Thin.woff2);
}